{% extends 'bd_app/inicio.html' %}


{% block tabla %}
<div class="tabla__main">

    <table>
       
        <thead>
            <th> <a href="{% url 'inicio_za' %}"> Dueño</th></a>
            
            <th>Localidad</th>
            <th>Estado</th>
            <th>Propiedad</th>
            <th>Tipo</th>
            <th> <a href="{% url 'inicio_mascaro' %}"> Precio</th></a>
            <th>Ambientes</th>
            <th>Baños</th>
            <th>Cocina</th>
            <th>Dormitorios</th>
            <th>Linving</th>
            <th>Garage</th>
            <th>Sotano</th>
            <th>Terrasa</th>
            <th>Editar</th>
            <th>Eliminar</th>
        </thead>

        <tbody>
            {% for i in clientes %}
            <tr>
              
            

            </tr>
            {% endfor %}



    </table>

</div>
{% endblock %}