/* RESET DE LA WEB */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Orbitron', sans-serif;
    font-family: 'Urbanist', sans-serif;
  }
/* MODIFICA EL HEADER */

header{
    width: 100%;
    display: flex;
    justify-content:space-between;
    background-color: #19A7CE;
}

header div.div__nav{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin: 10px;
}

header div.div__nav .h2__nav{
    padding: 0 40px;
    color: white;
}

header div.div__nav .dropdown{
    display: inline-block;
    position: relative;
}

header div.div__nav .dropdown .btn-agregar{
    width: 8vw;
    height: 4vh;
    color: white;
    font-size: 18px;
    background-color: transparent;

}

header div.div__nav .dropdown .btn-agregar:hover{
    background-color: #146C94;
}

header div.div__nav .dropdown-contenido{
    display: none;
    position: absolute;
    width: 100%;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, alpha0.2);
}

.dropdown:hover .dropdown-contenido{
    display: block;
    background-color: #F6F1F1;
}

.dropdown-contenido a{
    display: block;
    color: black;
    padding: 5px;
    text-decoration: none;
    font-size: 20px;
}

.dropdown-contenido a:hover{
    background-color: #146C94;
    color: white;
}

/*MODIFICO MAIN Y TABLA*/

main{
    display: flex;
    justify-content: center;
}

main .main__container {
    display: block;
    margin: 20px auto 0 auto;
    width: 70vw;
    height: 80vh;
    justify-content: center;
    background-color: #F1F6F9;
}

main .main__container .database{
    background-color: #F1F6F9;
    display: flex;
    margin: 0 auto;
    width: 70vw;
    height: 5vh;
    align-items: center;
}

main .main__container .database nav {
    width: 70vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

main .main__container .database nav .db__btn {
    align-items: center;
}

main .main__container .database nav h4{
    margin: 10px 0 0 20px;
    color: black;
    font-size: 23px;
}

main .main__container .database nav .db__btn span .btn-1{
    width: 8vw;
    height: 3vh;
    margin-right: 10px;
    cursor: pointer;
}
main .main__container .database nav .db__btn span .btn-2{
    background-color: #1746A2;
    color: white;
    width: 8vw;
    height: 3vh;
    cursor: pointer;
}

main .main__container .filtro {
    display: flex;
    padding: 20px 0;
    width: 68vw;
    margin: 0 auto;
    justify-content: space-between;
}

main .main__container .filtro div input {
    width: 15vw;
    height: 3vh;
}

main .main__container .filtro div.select__db select.select__uno{
    width: 8vw;
    height: 3vh;
    margin-right: 20px;
}

main .main__container .filtro div.select__db select.select__dos {
    width: 8vw;
    height: 3vh;
}

main .tabla__main {
    background-color: white;
    display: flex;
    margin: 0 auto;
    width: 68vw;
    height: 60vh;
    justify-content: center;
    border-radius: 20px 20px 20px 20px;
}

main .tabla__main table {
    margin-top: 20px;
    table-layout: fixed;
    width: 65vw;
    height: 10vh;
    border-collapse: collapse;
    border-bottom: solid 1px #F1F6F9;
    text-align: left;
}
 
main .tabla__main table thead th{
    border-bottom: solid 1px #F1F6F9;
    padding: 10px 0;
}

main .tabla__main table tbody td{
    border-bottom: solid 1px #F1F6F9;
    padding: 10px 0;
}